*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    color: white;
    font-size: 22px;
}


body{
    background: darkgoldenrod;
    background: linear-gradient(to right, black, rgb(152, 0, 0));
}

.container
{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

figure{
    margin:auto;
    display: block;
    max-width: 100%;
    text-align: center;
}

img{
    max-width: 100%;
    height: auto;
}

h1{
    text-align: center;
}

div{
    justify-content: space-between;
    display: flex;
}