*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    font-size: 22px;
}

h1, h5{
    text-align: center;
}

body{
    background: darkgoldenrod;
    background: linear-gradient(to right, black, rgb(152, 0, 0));
}

.container
{
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}

.links{
    justify-content: space-between;
    display: flex;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}