*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    color: white;
    font-size: 22px;
}


body{
    background: darkgoldenrod;
    background: linear-gradient(to right, black, rgb(152, 0, 0));
}

.container
{
    align-content: center;
    background: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

h1{
    text-align: center;
}

.showcase{
    width: 30%;
    padding: 20px;
    margin: 10px;
    text-align: center;
    border: 2px solid darkred;
    border-radius: 10px;
}

.slideshow {
    position: relative;
    width: 300px; /* Set explicit width */
    height: 200px;
    margin: auto;
    overflow: hidden; /* Optional: hide image overflow */
}

.slideshow img {
    position: absolute;  /* Needed to layer images on top of each other */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

.slideshow img.active {
    opacity: 1;
    z-index: 1;
}

.links{
    justify-content: space-between;
    display: flex;
    align-content: center;
    background: black;
    border-radius: 10px;
    padding: 15px;
}

.github-link{
    text-align: center;
    margin-top: 10px;
}

.showcase > img {
    width: 300px;
}

@media (max-width: 768px){
    .container {
        flex-direction: column;
    }

    .showcase {
        width: 90%;
    }
}